<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Lilium</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>57.png</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>57.png</string>
				<string>114.png</string>
				<string>72.png</string>
				<string>144.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>net.b123400.perSecond</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb111015292318563</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIAppFonts</key>
	<array>
		<string>Quicksand_Bold_Oblique.otf</string>
		<string>Quicksand_Bold.otf</string>
		<string>Quicksand_Dash.otf</string>
		<string>Quicksand_Book_Oblique.otf</string>
		<string>Quicksand_Book.otf</string>
		<string>Quicksand_Light_Oblique.otf</string>
		<string>Quicksand_Light.otf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
</dict>
</plist>
